<h3>
  #<%= accommodation.proposal_id %>
  <%= link_to "Sign up", { :controller => "signups",
                           :action => "new",
                           :accommodation_id => accommodation.id,
                           :proposal_id => accommodation.proposal_id },
                         { :class => "btn btn-primary btn-mini" } %>
</h3>
<%= accommodation.leaving_at %> to <%= accommodation.returning_at %>

<% accommodation.signups.each do |signup| %>
  <%= debug(signup) %>
<% end %>
