<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @accommodation.user_id %>
</p>

<p>
  <b>Departure time:</b>
  <%= @accommodation.departure_time %>
</p>

<p>
  <b>Capacity:</b>
  <%= @accommodation.capacity %>
</p>


<%= link_to 'Edit', edit_accommodation_path(@accommodation) %> |
<%= link_to 'Back', accommodations_path %>
