<%# h1, span12 %>
<%# 
  # TODO: better client_side_validations integration using this https://github.com/bcardarella/client_side_validations#customize-error-rendering
%>
<% content_for :scripts do %>
  <%= javascript_include_tag "rails.validations" %>
  <%= javascript_include_tag "bootstrap-datepicker" %>
  <%= javascript_include_tag "timeslot_selector" %>
  <%= javascript_include_tag "request_form" %>
<% end %>
<div class="span9">
  <div class="page-header">
    <h1><%= h1 %></h1>
  </div>
  <%= form_for @request, :html => { :class => 'form-horizontal' }, 
                       :validate => true do |f| %>
    <% if @request.errors.any? %>
      <div id="error_explanation" class="alert alert-block alert-error">
        <strong><%= pluralize(@request.errors.count, "error") %> prohibited this request from being saved:</strong>
        <ul>
        <% @request.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <label class="control-label">Destination</label>
      <div class="controls">
        <div class="media well">
            <%= f.hidden_field :venue_id, :value => @venue.id %>
            <%= image_tag( static_map( { :size => "90x90",
                                         :scale => 2,
                                         :zoom => 12,
                                         :markers => "|#{@venue.latitude},#{@venue.longitude}",
                                         :sensor => false } ),
                           { :size => "90x90", :class => "pull-left" } ) %>
          <div class="media-body">
            <h2 class="media-heading"><%= @venue.name %></h2>
            <%= @venue.street %><br />
            <%= @venue.city %>
          </div>
        </div>
      </div>
    </div>

    <div class="control-group">
      <label class="control-label">Departure time slots</label>
      <div id="departure-time" class="controls">
        <%# TODO: to show multiple slots during editing too %>
        <div class="departure-time_item departure-time_item_template">
          <div class="departure-time_date input-prepend">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <%= text_field_tag( 'request[departure_time_slots][date][]', 
                                nil, 
                                { :size => "10", 
                                  :class => "input-small", 
                                  :data => { :'behavior' => "datepicker" }, 
                                  :placeholder => "mm/dd/yyyy" } ) %>
          </div>
          <div class="departure-time_time" style="display:inline; white-space: nowrap;">
            <div class="departure-time_time_start input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              <%= text_field_tag( 'request[departure_time_slots][time][start][]', 
                                  nil, 
                                  { :size => "10", 
                                    :class => "input-mini",
                                    :placeholder => "hh:mm" } ) %>
            </div>
             ‒ 
            <div class="departure-time_time_end input-prepend">
              <span class="add-on"><i class="icon-time"></i></span>
              <%= text_field_tag( 'request[departure_time_slots][time][end][]', 
                                  nil, 
                                  { :size => "10", 
                                    :class => "input-mini",
                                    :placeholder => "hh:mm" } ) %>
            </div>
          </div>
          <div class="departure-time_manipulate-slot pull-right">
            <a href="javascript:void(0)" 
               class="btn departure-time_add-slot-btn">
               <i class="icon-plus"></i> Add more
            </a>
            <a href="javascript:void(0)" 
               class="btn btn-danger departure-time_remove-slot-btn">
               <i class="icon-minus"></i>
            </a>
          </div>
        </div>
      </div>
    </div>

    <div class="control-group">
      <!-- FIXME: stay_duration field not hiding upon editing -->
      <label class="control-label" for="request_round_trip">Round trip?</label>
      <div class="controls">
        <label class="checkbox" 
               for="request_round_trip">
          <%= check_box_tag :request_round_trip, 1, true %>
          Take me back to Peddie, after:</label>
      </div>
    </div>

    <div class="control-group hide-if-doesnt-request-round-trip">
      <label class="control-label">Duration of stay</label>
      <div class="controls">
        <div class="input-prepend input-append">
          <span class="add-on"><i class="icon-time"></i></span>
          <%= f.text_field :stay_duration, { :class => "input-mini",
                                             :placeholder => "0.5‒12" } %>
          <span class="add-on">hours</span>
       </div>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :note, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :note, { :class => 'text_area input-block-level',
                                 :rows => 4 } %>
        <span class="help-block"><span class="label">Optional</span> Tell the 
          faculty members more about this request.  Do you need special 
          accommodations not metioned above?</span>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to "Cancel",
                  requests_path, :class => 'btn' %>
    </div>
    
  <% end %>
</div>

<div class="span4">
  
</div>
