<div class="page-header">
  <h1>You got two options...</h1>
</div>

<div class="row">

  <div id="add_request" class="span5 well">
    <h2>Add a request</h2>
    <p class="lead">Faculty members will try to accomdate your request when 
      planning their own travels throughout the week.</p>
    <p>If you include Saturday night as one of the departure times in your 
      request, Mrs. Schwizer will take that into account when making decisions 
      on future SNAs.</p>
  </div>

  <div id="signup_sna" class="span5 well">
    <h2>Sign up for SNA<h2>
    <p class="lead">The Peddie Taxi system is now the official system for SNA signups.  It 
      handles waitlisting and text message reminders automatically.  Try it now!</p>
  </div>

</div>

<div class="row">
  <h1>Listing requests</h1>

  <table>
    <tr>
      <th>User</th>
      <th>Venue</th>
      <th>Note</th>
      <th>Departure time slots</th>
      <th>Earliest departure time</th>
      <th>Latest departure time</th>
      <th>Stay duration</th>
      <th>Stay duration margin</th>
      <th>Accommodation</th>
      <th>Resolution</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @requests.each do |request| %>
    <tr>
      <td><%= request.user_id %></td>
      <td><%= request.venue_id %></td>
      <td><%= request.note %></td>
      <td><%= request.departure_time_slots %></td>
      <td><%= request.earliest_departure_time %></td>
      <td><%= request.latest_departure_time %></td>
      <td><%= request.stay_duration %></td>
      <td><%= request.stay_duration_margin %></td>
      <td><%= request.accommodation_id %></td>
      <td><%= request.resolution %></td>
      <td><%= link_to 'Show', request %></td>
      <td><%= link_to 'Edit', edit_request_path(request) %></td>
      <td><%= link_to 'Destroy', request, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
  <% end %>
  </table>

  <br />

  <%= link_to 'New Request', new_request_path %>
</div>