<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @request.user_id %>
</p>

<p>
  <b>Venue:</b>
  <%= @request.venue_id %>
</p>

<p>
  <b>Note:</b>
  <%= @request.note %>
</p>

<p>
  <b>Departure time slots:</b>
  <%= @request.departure_time_slots %>
</p>

<p>
  <b>Earliest departure time:</b>
  <%= @request.earliest_departure_time %>
</p>

<p>
  <b>Latest departure time:</b>
  <%= @request.latest_departure_time %>
</p>

<p>
  <b>Stay duration:</b>
  <%= @request.stay_duration %>
</p>

<p>
  <b>Stay duration margin:</b>
  <%= @request.stay_duration_margin %>
</p>

<p>
  <b>Accommodation:</b>
  <%= @request.accommodation_id %>
</p>

<p>
  <b>Resolution:</b>
  <%= @request.resolution %>
</p>


<%= link_to 'Edit', edit_request_path(@request) %> |
<%= link_to 'Back', requests_path %>
