<%# h1, span12 %>
<%# 
  # TODO: better client_side_validations integration using this https://github.com/bcardarella/client_side_validations#customize-error-rendering
%>
<% content_for :scripts do %>
  <%= javascript_include_tag "venues_map" %>
<% end %>
<div class="span6">
  <div class="page-header">
    <h1><%= h1 %></h1>
    <p class="text-info">Pinpoint your destination by dragging the red marker 
      on the map, tell us more about this place, and you are good to post a 
      request!</p>
    <p class="text-warning"><span class="label label-important">Important</span> 
    Please make sure the venue you are trying to add doesn&rsquo;t exist in 
    our system yet.  We delete duplicates, in addition to any requests 
    associated to duplicates.</p>
  </div>
  <%= form_for @venue, :html => { :class => 'form-horizontal' } do |f| %>
    <div class="control-group">
      <%= f.label :name, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :name, { :class => 'text_field input-block-level',
                                  :placeholder => "e.g. Target" } %>
      </div>
    </div>
    <div class="control-group">
      <%#= f.label :street, :class => 'control-label' %>
      <label class="control-label" for="venue_street">Address</label>
      <div class="controls">
        <%= f.text_field :street, { :class => 'text_field input-block-level',
                                    :placeholder => "e.g. 70 Princeton Hightstown Road" } %>
        <%= f.text_field :city, { :class => 'text_field input-block-level',
                                  :placeholder => "e.g. East Windsor, NJ",
                                  :data => { :'enable-autocomplete' => true,
                                             :'autocomplete-type' => '(regions)' } } %>
        <a href="javascript:void(0)" 
           class="btn place-pin-at-address"
           data-source-street="input#venue_street"
           data-source-city="input#venue_city">Place pin at address</a>

        <span class="help-block">You might find 
          <a href="http://maps.google.com/" 
            target="_blank" 
            class="remove-parent-upon-click">Google Maps</a>
          useful in finding the address.  After you are done,
          click on &ldquo;Place pin at address&rdquo; so that you don&rsquo;t 
          have to place the pin manually.
        </span>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :latitude, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :latitude, { :class => 'text_field input-block-level',
                                      :placeholder => "please drag the pin..." } %>
      </div>
    </div>
    <div class="control-group">
      <%= f.label :longitude, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_field :longitude, { :class => 'text_field input-block-level',
                                       :placeholder => "...for automatic filling" } %>
        <span class="help-block">If address-based automatic pinning 
          doesn&rsquo;t work as expected, 
          <a href="javascript:void(0)" class="switch-to-hybrid-view">&ldquo;Hybrid&rdquo; view</a> can help you find your destination more easily when 
          dragging the pin manually.
        </span>
      </div>        
    </div>
    <div class="control-group">
      <%= f.label :description, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :description, { :class => 'text_area input-block-level',
                                        :rows => 5 } %>
        <span class="help-block"><span class="label">Optional</span> 
          Description is not associated with your request.  Instead, describe 
          this venue: why it is good, what the price range is, what their 
          opening hours are, etc.
        </span>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to "Cancel",
                  venues_path, :class => 'btn' %>
    </div>
  <% end %>
</div>
<div class="span6">
  <div class="venues-map-data-source"
       data-base-latitude="<%= Settings.geo.locations.base.latitude %>"
       data-base-longitude="<%= Settings.geo.locations.base.longitude %>"></div>
  <div id="venues_map" class="well"
       data-base-latitude="<%= Settings.geo.locations.base.latitude %>"
       data-base-longitude="<%= Settings.geo.locations.base.longitude %>"
       data-enable-draggable-marker="true"
       data-draggable-marker-handle
       data-draggable-marker-sync-lat="input#venue_latitude"
       data-draggable-marker-sync-lon="input#venue_longitude"
       data-draggable-marker-title="New venue"></div>
</div>