<%# h1, span12 %>
<% content_for :scripts do %>
  <%= javascript_include_tag "map" %>
<% end %>
<div class="row">
  <div class="span8">
    <div class="map well"
         data-base-latitude="<%= Settings.geo.locations.base.latitude %>"
         data-base-longitude="<%= Settings.geo.locations.base.longitude %>">
    </div>
  </div>
  <div class="span4">
    <div class="page-header">
      <h1>Venues <%= link_to "Add New", new_venue_path, :class => 'btn btn-primary' %></h1>
    </div>
    <div class="venue-list map-data-source">
      <% @venues.each do |venue| %>
        <%= render 'list_item', :venue => venue %>
      <% end %>
    </div>
  </div>
</div>
