<%# h1, span12 %>
<% content_for :scripts do %>
  <%= javascript_include_tag "proposals" %>
<% end %>
<div class="span9">
  <div class="page-header">
    <h1><%= h1 %></h1>
    <% if params[:action] == "new" %>
      <p class="text-info">Fill in this form and get your friends to sign up for it!</p>
    <% end %>
  </div>
  <%= form_for @proposal, :html => { :class => 'form-horizontal' } do |f| %>
    <% if @proposal.errors.any? %>
      <div id="error_explanation" class="alert alert-block alert-error">
        <strong><%= pluralize(@proposal.errors.count, "error") %> prohibited this proposal from being saved:</strong>
        <ul>
        <% @proposal.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="control-group">
      <%= f.label :venue_id, :class => 'control-label' %>
        <div class="controls">
          <% if @venue.present? %>
            <div class="well">
              <div class="media">
                <div class="pull-left">
                  <%= static_map_tag @venue.latitude, @venue.longitude,
                                     :name => @venue.name %>
                </div>
                <div class="media-body">
                  <h4 class="media-heading"><%= @venue.name %></h4>
                  <%= @venue.vicinity %>
                </div>
              </div>
            </div>
            <%= f.hidden_field :venue_id, 
                               { :value => @venue.id } %>
          <% else %>
            <div class="alert alert-error">
              Invalid venue.  Enter venue ID manually below.
            </div>
            <%= f.text_field :venue_id, 
                             { :class => 'text_field input-small' } %>
          <% end %>
        </div>
    </div>

    <div class="control-group">
      <%= f.label :week, :class => 'control-label' %>
      <div class="controls">
        <div id="relative_week" class="btn-group" data-toggle="buttons-radio">
          <button type="button"
                  class="btn <%= active_if_val_eq(@proposal.relative_week, :this_week) %>"
                  value="this_week">
            This week
          </button>
          <button type="button" 
                  class="btn <%= active_if_val_eq(@proposal.relative_week, :next_week) %>" 
                  value="next_week">
            Next week
          </button>
        </div>
        <%= f.hidden_field :relative_week %>
        <span class="help-block">The week starts with Sunday.</span>
        <span class="help-block">
          You will be able to refine the timespan when you sign up.
        </span>
        <span class="help-block">
          Faculty members specify exact departure time when they offer accommodations.
        </span>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :comments, :class => 'control-label' %>
      <div class="controls">
        <%= f.text_area :comments, { :class => 'text_area input-block-level' } %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to "Cancel",
                  proposals_path, :class => 'btn' %>
    </div>
  <% end %>
</div>
