<div class="row">
  <div class="span9">
    <div class="page-header">
      <h2>This week</h2>
    </div>

    <% @proposals.each do |proposal| %>
      <div class="media span4">
        <a class="pull-left" href='<%= url_for proposal %>'>
          <%= static_map_tag proposal.venue.latitude, proposal.venue.longitude,
                             :height => 130, :width => 130,
                             :class => "media-object" %>
        </a>
        <div class="media-body">
          <h3><%= link_to proposal.venue.name, proposal %></h3>
          this <%= proposal.leaving_at.strftime("%A") %>
          <%= simple_format(proposal.comments) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
