<div class="row">
  <div class="span9 this_week">
    <div class="page-header">
      <h2>This week</h2>
    </div>
    <% @proposals_this_week.each do |proposal| %>
      <div class="media span4">
        <a class="pull-left" href='<%= url_for :controller => :proposals, :action => :show, :venue_id => proposal.venue_id, :id => proposal.id %>'>
          <%= static_map_tag proposal.venue.latitude, proposal.venue.longitude,
                             :height => 130, :width => 130,
                             :class => "media-object" %>
        </a>
        <div class="media-body">
          <h3><%= link_to proposal.venue.name, {:controller => :proposals, :action => :show, :venue_id => proposal.venue_id, :id => proposal.id} %></h3>
          <%= proposal.relative_week %>
          <%= simple_format(proposal.comments) %>
        </div>
      </div>
    <% end %>
  </div>

  <div class="span9 next_week">
    <div class="page-header">
      <h2>Next week</h2>
    </div>
    <% @proposals_next_week.each do |proposal| %>
      <div class="media span3">
        <a class="pull-left" href='<%= url_for proposal %>'>
          <%= static_map_tag proposal.venue.latitude, proposal.venue.longitude,
                             :height => 100, :width => 100,
                             :class => "media-object" %>
        </a>
        <div class="media-body">
          <h3><%= link_to proposal.venue.name, proposal %></h3>
          <%= proposal.relative_week %>
          <%= simple_format(proposal.comments) %>
        </div>
      </div>
    <% end %>
  </div>
</div>
