<h1>Listing accommodation_changes</h1>

<table>
  <tr>
    <th>User</th>
    <th>Field</th>
    <th>Old value</th>
    <th>New value</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @accommodation_changes.each do |accommodation_change| %>
  <tr>
    <td><%= accommodation_change.user_id %></td>
    <td><%= accommodation_change.field %></td>
    <td><%= accommodation_change.old_value %></td>
    <td><%= accommodation_change.new_value %></td>
    <td><%= link_to 'Show', accommodation_change %></td>
    <td><%= link_to 'Edit', edit_accommodation_change_path(accommodation_change) %></td>
    <td><%= link_to 'Destroy', accommodation_change, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Accommodation change', new_accommodation_change_path %>
