<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @accommodation_change.user_id %>
</p>

<p>
  <b>Field:</b>
  <%= @accommodation_change.field %>
</p>

<p>
  <b>Old value:</b>
  <%= @accommodation_change.old_value %>
</p>

<p>
  <b>New value:</b>
  <%= @accommodation_change.new_value %>
</p>


<%= link_to 'Edit', edit_accommodation_change_path(@accommodation_change) %> |
<%= link_to 'Back', accommodation_changes_path %>
