<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @ride.user_id %>
</p>

<p>
  <strong>Leaving at:</strong>
  <%= @ride.leaving_at %>
</p>

<p>
  <strong>Return at:</strong>
  <%= @ride.return_at %>
</p>


<%= link_to 'Edit', edit_ride_path(@ride) %> |
<%= link_to 'Back', rides_path %>
